<div class="wildcat-profile card z-depth-5">
  <div class="wildcat-pic card-image valign-wrapper">
    <img src="{{imageUrl}}" alt="athlete photo" class="responsive-img valign-wrapper">
  </div>
  <div class="wildcat-info">
    <div class="wildcat-name"><h2>{{name}}</h2></div>
    <div class="jersey-number"><h2>{{jerseyNumber}}</h2></div>
    <div class="wildcat-position"><h2>{{position}}</h2></div>
    <div class="divider"></div>
    <div class="wildcat-details">
      <ul>
        <li>Height: {{height}}</li>
        <li>Weight: {{weight}}</li>
        <li>Academic Year: {{academicYear}}</li>
        <li>Hometown: {{hometown}}</li>
        <li>Highschool: {{highschool}}</li>
      </ul>
    </div>
  </div>
</div>
